div {
    word-wrap: break-word;
}

#page-container {
    margin-bottom: 75px;
}

.masjid-facilties {
    display: flex;
    align-items: center;
    justify-content: center;
}

.masjid-facilties .home-badges {
    margin: 5px;
    margin: 5px;
    font-size: 15px;
}
