<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Vote</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <a href="" class="nav-link" data-page="first">First Page</a>
    <a href="" class="nav-link" data-page="second">Second Page</a>
    <a href="" class="nav-link" data-page="third">Third Page</a>

    <hr>
    <div id="body">

    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>