<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Vote</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <style>
        body {
            margin: 0px;
        }

        .progress-bar {
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 0;
            width: 100%;
        }

        .progress-bar #progress {
            background-color: blue;
            width: 0px;
            max-width: 100%;
            height: 3px;
        }
    </style>
    

    <div class="sticky-top progress-bar" >
        <div id="progress"></div>
    </div>

    <a href="" class="nav-link" data-page="first">First Page</a>
    <a href="" class="nav-link" data-page="second">Second Page</a>
    <a href="" class="nav-link" data-page="third">Third Page</a>

    <hr>

    <div id="body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Amet venenatis urna cursus eget nunc. Quam viverra orci sagittis eu volutpat. Egestas
            fringilla phasellus faucibus scelerisque eleifend donec pretium. Adipiscing elit duis tristique
            sollicitudin. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Felis eget velit
            aliquet sagittis id consectetur. Posuere lorem ipsum dolor sit amet. At risus viverra adipiscing at in
            tellus integer feugiat. Dictum fusce ut placerat orci nulla pellentesque dignissim. Dis parturient montes
            nascetur ridiculus mus mauris. Sapien et ligula ullamcorper malesuada proin libero. Rhoncus urna neque
            viverra justo nec ultrices dui sapien eget.
        </p>

        <p>
            A diam maecenas sed enim ut sem viverra aliquet. Tristique nulla aliquet enim tortor at auctor urna nunc.
            Imperdiet proin fermentum leo vel. Venenatis lectus magna fringilla urna porttitor rhoncus. Metus dictum at
            tempor commodo. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Ullamcorper eget nulla
            facilisi etiam dignissim diam quis. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Velit
            aliquet
            sagittis id consectetur. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Nunc vel
            risus
            commodo viverra maecenas accumsan lacus vel. Placerat in egestas erat imperdiet. Volutpat consequat mauris
            nunc
            congue nisi vitae suscipit tellus. Libero justo laoreet sit amet. Tincidunt ornare massa eget egestas. Erat
            nam
            at lectus urna duis convallis. Arcu non sodales neque sodales ut etiam. Nunc sed blandit libero volutpat sed
            cras ornare arcu. Aliquet enim tortor at auctor urna nunc id cursus. Aliquet nibh praesent tristique magna
            sit
            amet purus gravida quis.
        </p>

        <p>
            Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Adipiscing bibendum est ultricies integer
            quis
            auctor elit sed vulputate. Risus pretium quam vulputate dignissim suspendisse in est. Pellentesque sit amet
            porttitor eget dolor. Tincidunt augue interdum velit euismod. Et tortor at risus viverra adipiscing at in
            tellus. Ornare arcu dui vivamus arcu felis bibendum ut. Egestas tellus rutrum tellus pellentesque eu
            tincidunt
            tortor aliquam. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. In egestas erat
            imperdiet
            sed euismod nisi porta lorem mollis. Viverra adipiscing at in tellus integer feugiat. Eget mi proin sed
            libero.
            Est pellentesque elit ullamcorper dignissim cras. Suspendisse interdum consectetur libero id faucibus nisl
            tincidunt eget. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Elit pellentesque
            habitant morbi tristique senectus et netus et. Et ultrices neque ornare aenean euismod elementum. Varius vel
            pharetra vel turpis nunc eget. Dignissim sodales ut eu sem integer.
        </p>

        <p>
            Volutpat commodo sed egestas egestas fringilla. Tortor pretium viverra suspendisse potenti nullam ac tortor
            vitae. Sit amet massa vitae tortor condimentum. Nec ultrices dui sapien eget mi proin sed libero enim.
            Malesuada
            fames ac turpis egestas sed tempus urna et. Nam aliquam sem et tortor consequat. Pharetra convallis posuere
            morbi leo urna molestie at. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Eget aliquet nibh
            praesent tristique. Eget arcu dictum varius duis at.
        </p>

        <p>
            Neque gravida in fermentum et sollicitudin ac. Pretium quam vulputate dignissim suspendisse in est ante in
            nibh.
            Et tortor at risus viverra adipiscing at in tellus integer. Tristique senectus et netus et malesuada. Augue
            mauris augue neque gravida in fermentum et sollicitudin ac. Dignissim cras tincidunt lobortis feugiat. Et
            netus
            et malesuada fames. Tristique senectus et netus et malesuada fames ac turpis egestas. Mi eget mauris
            pharetra et
            ultrices neque ornare aenean. Vitae suscipit tellus mauris a diam. Tellus mauris a diam maecenas sed. Fames
            ac
            turpis egestas sed tempus urna et. Massa tincidunt nunc pulvinar sapien et ligula. Mattis nunc sed blandit
            libero volutpat. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Adipiscing at in tellus
            integer
            feugiat.
        </p>

        <p>
            A diam maecenas sed enim ut sem viverra aliquet. Tristique nulla aliquet enim tortor at auctor urna nunc.
            Imperdiet proin fermentum leo vel. Venenatis lectus magna fringilla urna porttitor rhoncus. Metus dictum at
            tempor commodo. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Ullamcorper eget nulla
            facilisi etiam dignissim diam quis. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Velit
            aliquet
            sagittis id consectetur. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Nunc vel
            risus
            commodo viverra maecenas accumsan lacus vel. Placerat in egestas erat imperdiet. Volutpat consequat mauris
            nunc
            congue nisi vitae suscipit tellus. Libero justo laoreet sit amet. Tincidunt ornare massa eget egestas. Erat
            nam
            at lectus urna duis convallis. Arcu non sodales neque sodales ut etiam. Nunc sed blandit libero volutpat sed
            cras ornare arcu. Aliquet enim tortor at auctor urna nunc id cursus. Aliquet nibh praesent tristique magna
            sit
            amet purus gravida quis.
        </p>

        <p>
            Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Adipiscing bibendum est ultricies integer
            quis
            auctor elit sed vulputate. Risus pretium quam vulputate dignissim suspendisse in est. Pellentesque sit amet
            porttitor eget dolor. Tincidunt augue interdum velit euismod. Et tortor at risus viverra adipiscing at in
            tellus. Ornare arcu dui vivamus arcu felis bibendum ut. Egestas tellus rutrum tellus pellentesque eu
            tincidunt
            tortor aliquam. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. In egestas erat
            imperdiet
            sed euismod nisi porta lorem mollis. Viverra adipiscing at in tellus integer feugiat. Eget mi proin sed
            libero.
            Est pellentesque elit ullamcorper dignissim cras. Suspendisse interdum consectetur libero id faucibus nisl
            tincidunt eget. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Elit pellentesque
            habitant morbi tristique senectus et netus et. Et ultrices neque ornare aenean euismod elementum. Varius vel
            pharetra vel turpis nunc eget. Dignissim sodales ut eu sem integer.
        </p>

        <p>
            Volutpat commodo sed egestas egestas fringilla. Tortor pretium viverra suspendisse potenti nullam ac tortor
            vitae. Sit amet massa vitae tortor condimentum. Nec ultrices dui sapien eget mi proin sed libero enim.
            Malesuada
            fames ac turpis egestas sed tempus urna et. Nam aliquam sem et tortor consequat. Pharetra convallis posuere
            morbi leo urna molestie at. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Eget aliquet nibh
            praesent tristique. Eget arcu dictum varius duis at.
        </p>

        <p>
            Neque gravida in fermentum et sollicitudin ac. Pretium quam vulputate dignissim suspendisse in est ante in
            nibh.
            Et tortor at risus viverra adipiscing at in tellus integer. Tristique senectus et netus et malesuada. Augue
            mauris augue neque gravida in fermentum et sollicitudin ac. Dignissim cras tincidunt lobortis feugiat. Et
            netus
            et malesuada fames. Tristique senectus et netus et malesuada fames ac turpis egestas. Mi eget mauris
            pharetra et
            ultrices neque ornare aenean. Vitae suscipit tellus mauris a diam. Tellus mauris a diam maecenas sed. Fames
            ac
            turpis egestas sed tempus urna et. Massa tincidunt nunc pulvinar sapien et ligula. Mattis nunc sed blandit
            libero volutpat. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Adipiscing at in tellus
            integer
            feugiat.
        </p>

        <p>
            A diam maecenas sed enim ut sem viverra aliquet. Tristique nulla aliquet enim tortor at auctor urna nunc.
            Imperdiet proin fermentum leo vel. Venenatis lectus magna fringilla urna porttitor rhoncus. Metus dictum at
            tempor commodo. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Ullamcorper eget nulla
            facilisi etiam dignissim diam quis. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Velit
            aliquet
            sagittis id consectetur. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Nunc vel
            risus
            commodo viverra maecenas accumsan lacus vel. Placerat in egestas erat imperdiet. Volutpat consequat mauris
            nunc
            congue nisi vitae suscipit tellus. Libero justo laoreet sit amet. Tincidunt ornare massa eget egestas. Erat
            nam
            at lectus urna duis convallis. Arcu non sodales neque sodales ut etiam. Nunc sed blandit libero volutpat sed
            cras ornare arcu. Aliquet enim tortor at auctor urna nunc id cursus. Aliquet nibh praesent tristique magna
            sit
            amet purus gravida quis.
        </p>

        <p>
            Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Adipiscing bibendum est ultricies integer
            quis
            auctor elit sed vulputate. Risus pretium quam vulputate dignissim suspendisse in est. Pellentesque sit amet
            porttitor eget dolor. Tincidunt augue interdum velit euismod. Et tortor at risus viverra adipiscing at in
            tellus. Ornare arcu dui vivamus arcu felis bibendum ut. Egestas tellus rutrum tellus pellentesque eu
            tincidunt
            tortor aliquam. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. In egestas erat
            imperdiet
            sed euismod nisi porta lorem mollis. Viverra adipiscing at in tellus integer feugiat. Eget mi proin sed
            libero.
            Est pellentesque elit ullamcorper dignissim cras. Suspendisse interdum consectetur libero id faucibus nisl
            tincidunt eget. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Elit pellentesque
            habitant morbi tristique senectus et netus et. Et ultrices neque ornare aenean euismod elementum. Varius vel
            pharetra vel turpis nunc eget. Dignissim sodales ut eu sem integer.
        </p>

        <p>
            Volutpat commodo sed egestas egestas fringilla. Tortor pretium viverra suspendisse potenti nullam ac tortor
            vitae. Sit amet massa vitae tortor condimentum. Nec ultrices dui sapien eget mi proin sed libero enim.
            Malesuada
            fames ac turpis egestas sed tempus urna et. Nam aliquam sem et tortor consequat. Pharetra convallis posuere
            morbi leo urna molestie at. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Eget aliquet nibh
            praesent tristique. Eget arcu dictum varius duis at.
        </p>

        <p>
            Neque gravida in fermentum et sollicitudin ac. Pretium quam vulputate dignissim suspendisse in est ante in
            nibh.
            Et tortor at risus viverra adipiscing at in tellus integer. Tristique senectus et netus et malesuada. Augue
            mauris augue neque gravida in fermentum et sollicitudin ac. Dignissim cras tincidunt lobortis feugiat. Et
            netus
            et malesuada fames. Tristique senectus et netus et malesuada fames ac turpis egestas. Mi eget mauris
            pharetra et
            ultrices neque ornare aenean. Vitae suscipit tellus mauris a diam. Tellus mauris a diam maecenas sed. Fames
            ac
            turpis egestas sed tempus urna et. Massa tincidunt nunc pulvinar sapien et ligula. Mattis nunc sed blandit
            libero volutpat. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Adipiscing at in tellus
            integer
            feugiat.
        </p>

        <p>
            A diam maecenas sed enim ut sem viverra aliquet. Tristique nulla aliquet enim tortor at auctor urna nunc.
            Imperdiet proin fermentum leo vel. Venenatis lectus magna fringilla urna porttitor rhoncus. Metus dictum at
            tempor commodo. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Ullamcorper eget nulla
            facilisi etiam dignissim diam quis. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Velit
            aliquet
            sagittis id consectetur. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Nunc vel
            risus
            commodo viverra maecenas accumsan lacus vel. Placerat in egestas erat imperdiet. Volutpat consequat mauris
            nunc
            congue nisi vitae suscipit tellus. Libero justo laoreet sit amet. Tincidunt ornare massa eget egestas. Erat
            nam
            at lectus urna duis convallis. Arcu non sodales neque sodales ut etiam. Nunc sed blandit libero volutpat sed
            cras ornare arcu. Aliquet enim tortor at auctor urna nunc id cursus. Aliquet nibh praesent tristique magna
            sit
            amet purus gravida quis.
        </p>

        <p>
            Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Adipiscing bibendum est ultricies integer
            quis
            auctor elit sed vulputate. Risus pretium quam vulputate dignissim suspendisse in est. Pellentesque sit amet
            porttitor eget dolor. Tincidunt augue interdum velit euismod. Et tortor at risus viverra adipiscing at in
            tellus. Ornare arcu dui vivamus arcu felis bibendum ut. Egestas tellus rutrum tellus pellentesque eu
            tincidunt
            tortor aliquam. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. In egestas erat
            imperdiet
            sed euismod nisi porta lorem mollis. Viverra adipiscing at in tellus integer feugiat. Eget mi proin sed
            libero.
            Est pellentesque elit ullamcorper dignissim cras. Suspendisse interdum consectetur libero id faucibus nisl
            tincidunt eget. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Elit pellentesque
            habitant morbi tristique senectus et netus et. Et ultrices neque ornare aenean euismod elementum. Varius vel
            pharetra vel turpis nunc eget. Dignissim sodales ut eu sem integer.
        </p>

        <p>
            Volutpat commodo sed egestas egestas fringilla. Tortor pretium viverra suspendisse potenti nullam ac tortor
            vitae. Sit amet massa vitae tortor condimentum. Nec ultrices dui sapien eget mi proin sed libero enim.
            Malesuada
            fames ac turpis egestas sed tempus urna et. Nam aliquam sem et tortor consequat. Pharetra convallis posuere
            morbi leo urna molestie at. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Eget aliquet nibh
            praesent tristique. Eget arcu dictum varius duis at.
        </p>

        <p>
            Neque gravida in fermentum et sollicitudin ac. Pretium quam vulputate dignissim suspendisse in est ante in
            nibh.
            Et tortor at risus viverra adipiscing at in tellus integer. Tristique senectus et netus et malesuada. Augue
            mauris augue neque gravida in fermentum et sollicitudin ac. Dignissim cras tincidunt lobortis feugiat. Et
            netus
            et malesuada fames. Tristique senectus et netus et malesuada fames ac turpis egestas. Mi eget mauris
            pharetra et
            ultrices neque ornare aenean. Vitae suscipit tellus mauris a diam. Tellus mauris a diam maecenas sed. Fames
            ac
            turpis egestas sed tempus urna et. Massa tincidunt nunc pulvinar sapien et ligula. Mattis nunc sed blandit
            libero volutpat. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Adipiscing at in tellus
            integer
            feugiat.
        </p>
        <p>
            A diam maecenas sed enim ut sem viverra aliquet. Tristique nulla aliquet enim tortor at auctor urna nunc.
            Imperdiet proin fermentum leo vel. Venenatis lectus magna fringilla urna porttitor rhoncus. Metus dictum at
            tempor commodo. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Ullamcorper eget nulla
            facilisi etiam dignissim diam quis. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. Velit
            aliquet
            sagittis id consectetur. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Nunc vel
            risus
            commodo viverra maecenas accumsan lacus vel. Placerat in egestas erat imperdiet. Volutpat consequat mauris
            nunc
            congue nisi vitae suscipit tellus. Libero justo laoreet sit amet. Tincidunt ornare massa eget egestas. Erat
            nam
            at lectus urna duis convallis. Arcu non sodales neque sodales ut etiam. Nunc sed blandit libero volutpat sed
            cras ornare arcu. Aliquet enim tortor at auctor urna nunc id cursus. Aliquet nibh praesent tristique magna
            sit
            amet purus gravida quis.
        </p>

        <p>
            Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Adipiscing bibendum est ultricies integer
            quis
            auctor elit sed vulputate. Risus pretium quam vulputate dignissim suspendisse in est. Pellentesque sit amet
            porttitor eget dolor. Tincidunt augue interdum velit euismod. Et tortor at risus viverra adipiscing at in
            tellus. Ornare arcu dui vivamus arcu felis bibendum ut. Egestas tellus rutrum tellus pellentesque eu
            tincidunt
            tortor aliquam. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. In egestas erat
            imperdiet
            sed euismod nisi porta lorem mollis. Viverra adipiscing at in tellus integer feugiat. Eget mi proin sed
            libero.
            Est pellentesque elit ullamcorper dignissim cras. Suspendisse interdum consectetur libero id faucibus nisl
            tincidunt eget. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Elit pellentesque
            habitant morbi tristique senectus et netus et. Et ultrices neque ornare aenean euismod elementum. Varius vel
            pharetra vel turpis nunc eget. Dignissim sodales ut eu sem integer.
        </p>

        <p>
            Volutpat commodo sed egestas egestas fringilla. Tortor pretium viverra suspendisse potenti nullam ac tortor
            vitae. Sit amet massa vitae tortor condimentum. Nec ultrices dui sapien eget mi proin sed libero enim.
            Malesuada
            fames ac turpis egestas sed tempus urna et. Nam aliquam sem et tortor consequat. Pharetra convallis posuere
            morbi leo urna molestie at. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Eget aliquet nibh
            praesent tristique. Eget arcu dictum varius duis at.
        </p>

        <p>
            Neque gravida in fermentum et sollicitudin ac. Pretium quam vulputate dignissim suspendisse in est ante in
            nibh.
            Et tortor at risus viverra adipiscing at in tellus integer. Tristique senectus et netus et malesuada. Augue
            mauris augue neque gravida in fermentum et sollicitudin ac. Dignissim cras tincidunt lobortis feugiat. Et
            netus
            et malesuada fames. Tristique senectus et netus et malesuada fames ac turpis egestas. Mi eget mauris
            pharetra et
            ultrices neque ornare aenean. Vitae suscipit tellus mauris a diam. Tellus mauris a diam maecenas sed. Fames
            ac
            turpis egestas sed tempus urna et. Massa tincidunt nunc pulvinar sapien et ligula. Mattis nunc sed blandit
            libero volutpat. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Adipiscing at in tellus
            integer
            feugiat.
        </p>
    </div>

    <script src="{{ url_for('static', filename='window.js') }}"></script>
</body>

</html>