{% extends "listings/template.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<h1>{{listing.title}}</h1>

{% include "../partial/listing.html" %}

{% if listing.is_biddable %}
<div class="card auction-container">
    <div class="card-body">
      <h2 class="card-title">Bids</h2>
      
      <form action="{% url 'listings:bid' id=listing.id %}" method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_bid">
              {% if bids %}
                <b>{{bids | length}}</b> bid{{bids | length | pluralize}} so far, place a bid greater than £{{highestBid.bid|intcomma:2}}
              {% else %}
                Place a bid greater than the starting price £{{listing.price|intcomma:2}}
              {% endif %}
            </label>
            
            {% if request.user.is_authenticated %}
              {{auctionForm.bid}}
              {{auctionForm.highestBidId}}
            {% endif %}

          </div>

          {% if request.user.is_authenticated %}
            <button type="submit" class="btn btn-primary">Bid</button>
          {% endif %}
        </form>
        
        {% if request.user.is_authenticated is False %}
          <a href="{% url 'register'%}">Register so you can place a bid</a>
        {% endif %}
    </div>
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'auctions/javascript/index.js' %}">
{% endblock %}