{% extends "listings/template.html" %}
{% load humanize %}
{% load static %}

{% block body %}
<h1>{{listing.title}}</h1>

<div class="card">
    {% for image in listing.listing_images.all %}
      <img class="card-img-top img-fluid listing-thumbnail" src="{{image.image.url}}" alt="Card image cap">
    {% endfor %}

    <div class="card-body">
        <h5 class="card-title">
            {{listing.title}}

            {% if listing.is_biddable %}
            <span class="badge badge-pill badge-primary">Auction</span>
            {% elif listing.is_free %}
            <span class="badge badge-pill badge-secondary">Free</span>
            {% endif %}
        </h5>
        <h6 class="card-text">£{{listing.price|intcomma:2}}</h6>
        <p class="card-text">{{listing.description}}</p>
        
        <p class="card-text">
          Listed by <a href="#">{{ listing.created_by.get_full_name }}</a>
        </p>
        <p class="card-text">
            <small class="text-muted">Last updated {{ listing.updated_on|naturaltime }}</small>
        </p>
    </div>
    <div class="card-footer text-muted">
        <div>Category <a href="#">{{listing.category.name}}</a></div>
    </div>
</div>

{% if listing.is_biddable %}
<div class="card auction-container">
    <div class="card-body">
      <h2 class="card-title">Bids</h2>
      
      <form action="{% url 'listings:bid' id=listing.id %}" method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_bid">
              {% if bids %}
                <b>{{bids | length}}</b> bid{{bids | length | pluralize}} so far, place a bid greater than £{{highestBid.bid|intcomma:2}}
              {% else %}
                Place a bid greater than the starting price £{{listing.price|intcomma:2}}
              {% endif %}
            </label>
            
            {% if request.user.is_authenticated %}
              {{auctionForm.bid}}
              {{auctionForm.highestBidId}}
            {% endif %}

          </div>

          {% if request.user.is_authenticated %}
            <button type="submit" class="btn btn-primary">Bid</button>
          {% endif %}
        </form>
        
        {% if request.user.is_authenticated is False %}
          <a href="{% url 'register'%}">Register so you can place a bid</a>
        {% endif %}
    </div>
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'auctions/javascript/index.js' %}">
{% endblock %}