{% extends "listings/template.html" %}
{% load static %}

{% block body %}
<h1>Listings</h1>

<form action="{% url 'index' %}">
    <div class="form-group">
       {{form.title}}
    </div>

    <div class="form-group">
        {{form.university}}
    </div>
    
    <div>
        <p>
            <a data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">Filters</a>
        </p>
        
        <div class="collapse" id="filters">
            <div class="form-group">
                <label for="id_sort_order">Sort by</label>
                {{form.sort_order}}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </form>
{% endblock %}

{% block scripts %}
   <script src="{% static 'auctions/javascript/index.js' %}">
{% endblock %}
