.live-container {
    display: flex;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
    cursor: pointer;
    background-color: red;
    align-items: center;
    justify-content: center;
}

.live-dot-container {
    height: 100%;
    margin-top:auto;
    margin-bottom: auto;
}

.live-dot {
    display: flex;
   width:10px;
   height:  10px;
   background-color: white;
   border-radius: 50%;
   margin-right: 5px;
   animation: blink 2s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

a {
    color: white
}


