#js-prayer-time-table td, #js-prayer-time-table th {
    padding: 0.4rem;
    vertical-align: middle;
}
#js-prayer-time-table th span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal !important;
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: -5px;
    color:darkgray;
}

.table {
    margin-bottom: 0rem;
}