.post {
    height: 100px;
    margin: 10px;
    font-size: xxx-large;
    background-color: bisque
}

.dice-img {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    height: 100px;
    width: 100px;
}

dice-faces {
    vertical-align: center;
}