{% extends "layout.html" %}

{% block body %}

{% if model['book'] is not none %}
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-5">
            <div class="card-body">
                <h4 class="card-title">{{model.book.title}}</h4>
                <div class="card-text">Author: {{model.book.author}}</div>
                <div class="card-text">ISBN: {{model.book.isbn}}</div>
                <div class="card-text">Publication Date: {{model.book.year}}</div>
                <div class="card-text">
                    {% if model.rating == 0 %}
                    No reviews yet
                    {% else %}
                    Rating: {{model.rating}} out of 5
                    {% endif %}

                    {% if 'user_id' in session and not model.user_reviewed_book %}
                    <a href="#" class="badge badge-pill badge-primary" role="button" data-toggle="modal"
                        data-target="#reviewModel">Add Review</a>
                    {% else %}
                    <a href="{{url_for('register')}}">(Sign up to add reviews)</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {% if model['reviews']|length > 0 %}
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Reviews</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for review in model.reviews %}
                <li class="list-group-item">
                    <div>{{review.created.strftime('%A %d %B %Y %H:%M:%S') }}</div>
                    <div>
                        Rating: {{review.rating}} out of 5
                        {% if 'user_id' in session and review.user_id == session['user_id'] %}
                         <b>(You)</b>
                        {% endif %}
                    </div>
                    <div style="white-space: pre-line;">{{review.message}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="reviewModel" tabindex="-1" role="dialog" aria-labelledby="reviewModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/review/{{model.book.isbn}}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewModelLabel">Add Review for {{ model.book.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <select name="rating" class="form-control" id="rating">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Review</label>
                        <textarea name="message" class="form-control" id="comment" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
        </form>
    </div>
</div>
</div>
{% endif %}

{% endblock %}