body {
  margin: 0px;
  background-color: darkgreen;
  color: white;
  height: 100vh;
}

.container-fluid {
  height: 100%;
}

.alert-text {
  font-weight: bold;
  font-size: 3.5rem;
  color: yellow;
}

.prayer-times th {
  padding: 0.3rem !important;
  font-size: x-large;
}

.prayer-times td {
  color: yellow;
  padding: 0.3rem !important;
  font-size: x-large;
  font-weight: bold;
}

.next-salah-container {
  padding: 20px;
}

.next-salah-container div{
  padding-top: 10px;
}

.next-salah-container h1 {
  font-size: 3rem;
}

/* 23 inch monitor + screen sizes */
@media (min-width: 1920px) {
  .prayer-times th {
    padding: 0.3rem !important;
    font-size: 2.5vw;
  }

  .prayer-times td {
    color: yellow;
    padding: 0.3rem !important;
    font-size: 2.5vw;
    font-weight: bold;
  }

  .alert-text {
    font-size: 5vw;
  }

  .current-dates h3 {
    font-size: 2.5vw;
  }

  .next-salah-container h1 {
    font-size: 5rem;
  }

  .next-salah-container h2 {
    font-size: 4rem;
  }
}
