.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.establishment-name {
    flex: 1;
}

.next-salah {
    display: flex;
    align-items: center;
}

.next-salah h5 {
    margin-right: 5px;
    margin-bottom: 0px;
}

.next-salah .yesterday {
    margin-right: auto;
}

.next-salah .tommorrow {
    margin-left: auto;
}
