.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.establishment-name {
    flex: 1;
    text-align: center;
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important;
}
  
.establishment-dropdown button {
    font-size: 18px;
}
  