.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.establishment-name {
    flex: 1;
}

.next-salah {
    display: flex;
    align-items: center;
}

.next-salah #js-next-prayer {
    padding-right: 5px;
    font-weight: bold;
}

.next-salah .yesterday {
    margin-right: auto;
}

.next-salah .tommorrow {
    margin-left: auto;
}

/* setting cog tenant dropdown */
#tenant-dropdown {
    max-width: 200px;
}

/* long dropdown item are wrapped */
#tenant-dropdown div {
    word-wrap: break-word;
    white-space: normal;
}
