.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.establishment-name {
    flex: 1;
    text-align: center;
}

.urdu-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#js-prayer-time-table th span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal !important;
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: -5px;
    color:darkgray;
}

.next-salah {
    display: flex;
    align-items: center;
}

.next-salah #js-next-prayer {
    padding-right: 5px;
    font-weight: bold;
}

.next-salah .yesterday {
    margin-right: auto;
}

.next-salah .tomorrow {
    margin-left: auto;
}

/* setting cog tenant dropdown */
#setting-dropdown {
    width: 300px;
    max-width: 300px;
}

/* long dropdown item are wrapped */
#tenant-dropdown div {
    word-wrap: break-word;
    white-space: normal;
}

#js-prayer-time-table td, #js-prayer-time-table th {
    padding: 0.70rem;
}

/* Add padding bottom 75px so the navbar does not overflow the content */
#container {
    padding-bottom: 75px;
    word-wrap: break-word;
}

.js-ramadan-timetable {
    margin-top: 10px;
    margin-bottom: 5px;
}

.js-ramadan {
    margin-bottom: 0px !important;
}

.js-ramadan p {
    font-weight: 500;
}

.js-ramadan-times .card-body {
    padding: 0.2rem;
}

.js-ramadan .suhoor.col {
    padding-left: 0px;
    padding-right: 5px;
}

.js-ramadan .iftar.col {
    padding-left: 5px;
    padding-right: 0px;
}

.js-ramadan p {
    margin-bottom: 5px;
}

