.wrapper {
  display: flex;
  width: 100%;
  align-items: stretchs; }

@media (max-width: 768px) {
  .wrapper #sidebar {
    margin-left: -250px; }
  .wrapper .show {
    margin-left: 0px !important; } }

.wrapper .show {
  margin-left: -250px; }

.wrapper #sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s; }

.wrapper #sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc; }

.wrapper #sidebar ul p {
  color: #fff;
  padding: 10px; }

.wrapper #sidebar ul li {
  padding: 10px;
  font-size: 1.1em;
  display: block; }

.wrapper #sidebar .ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b; }

.wrapper #content {
  width: 100%; }
